{
  "default": {
    "NODE_ENV": "development",
    // Github app oauth credentials
    "GITHUB_KEY": "",
    "GITHUB_SECRET": "",
    // Facebook app oauth credentials
    "FACEBOOK_KEY": "",
    "FACEBOOK_SECRET": "",
    // Postgres credentials
    "PG_HOST": "",
    "PG_DATABASE": "",
    "PG_USER": "",
    "PG_PASSWORD": ""
  },
  "test": {
    "NODE_ENV": "test",
    // Postgres credentials for a separate test db
    "PG_HOST": "",
    "PG_DATABASE": ""
  },
  "prod": {
    // Postgres credentials
    "PG_HOST": "",
    "PG_DATABASE": "",
    "PG_USER": "",
    "PG_PASSWORD": ""
  }
}
