{
  "default": {
    "NODE_ENV": "development",
    // Github app oauth credentials
    "GITHUB_KEY": "",
    "GITHUB_SECRET": "",
    // Facebook app oauth credentials
    "FACEBOOK_KEY": "",
    "FACEBOOK_SECRET": ""
  },
  "test": {
    "NODE_ENV": "test"
  }
}
